// ---------------------------------------------------------------------- COLORS
@text-color: #222;
@text-inverted: #fff;

@background-color: #fff;
@background-inverted: #222;

@hack-color: #a6e22e;
@dark-border: #636363;
@dark-background: #272822;

@color-wrong: #be0000;
@color-right: #009600;

@border-orange: #ffad00;
@background-mainboard: rgba(229,229,229,0.9);

// ----------------------------------------------------------------- ICON COLORS
@icon-green: rgba(130,221,70,1);
@icon-teal: rgba(91,187,170,1);
@icon-orange: rgba(252,152,43,1);
@icon-yellow: rgba(241,196,14,1);
@icon-blue: rgba(129,212,239,1);
@icon-grey: rgba(157,190,201,1);
@icon-aqua: rgba(54,215,183,1);
@icon-red: rgba(237,101,95,1);

@icon-light-grey: rgba(218,227,230,1);

// ------------------------------------------------------------------- Z-INDICES
@z-under: -1;
@z-base: 0;
@z-raised: 1;
@z-header: 8;

// ------------------------------------------------------------------- ANIMATIONS
// Using cubic bezier makes ease-out animations more smooth on iOS devices.
// For changing these values try http://cubic-bezier.com/
@ease-out:                    cubic-bezier(0.24,0.42,0.5,1.0);
@ease-in-out-quad:            cubic-bezier(0.455, 0.030, 0.515, 0.955);
@ease-out-elastic:           cubic-bezier(0.4,0,0.6,1.4);
