// Editor
//=======
.editor-pane {
  padding: 30px;
  position: relative;
  background: #fff;
  .console {
    flex: 1;
    background: rgba(34,34,34,0.9);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 4px
  }
}

@import (css) "../../../node_modules/codemirror/lib/codemirror.css";
