// GLOBAL STYLES

@import '_vars';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  background: @background-color;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: @text-color;
}

input, select, textarea {
  font: inherit;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

// Header
//=======
header {
  flex: 0 0 auto;
  background: @background-inverted;
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
  z-index: @z-header;
  position: relative;
  color: @text-inverted;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



