.object {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  line-height: 90px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.2);

  &.lamp {
    background: @icon-orange;
  }
  &.deur {
    background: @icon-blue;
  }
  &.klok {
    background: @icon-yellow;
  }
  &.tv {
    background: @icon-green;
  }
  &.fiets {
    background: @icon-grey;
  }
  &.kat {
    background: @icon-blue;
  }
  &.telefoon {
    background: @icon-orange;
  }
  &.weer {
    background: @icon-green;
  }
}
