// OBJECTS SHARED STYLE
.object {
  min-width: 90px;
  min-height: 90px;
  border-radius: 90px;
  line-height: 90px;
  text-align: center;
  &.lamp {
    background: @icon-orange;
  }
  &.deur {
    background: @icon-blue;
  }
  &.radio {
    background: @icon-yellow;
  }
  &.toilet {
    background: @icon-green;
  }
  &.fiets {
    background: @icon-grey;
  }
  &.broer {
    background: @icon-blue;
  }
  &.telefoon {
    background: @icon-orange;
  }
  &.plant {
    background: @icon-green;
  }
}
