.preview-pane {
  position: relative;
  padding: 20px 20px 120px 20px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: column;

  .objects {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .object {
      margin: auto;
    }

    .check,
    .assignment {
      position: relative;
      z-index: @z-raised;
      border: 4px solid rgba(190,0,0,1);
      border-radius: 90px;
      text-align: center;
      &.valid {
        border-color: rgba(0,150,0,1);
      }
    }
  }

  .combinator {
    position: relative;
    z-index: @z-raised;
    text-align: center;
    .ampersand {
      display: inline-block;
      width: 42px;
      height: 42px;
      line-height: 42px;
      text-align: center;
      background: #be0000;
      font-size: 28px;
      border-radius: 42px;
      color: white;
    }
    &.valid .ampersand {
      background: #009600;
    }
  }

  .computer {
    position: relative;
    z-index: @z-raised;
    text-align: center;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background: @icon-light-grey url(../svg/computer.svg) 50% 50% no-repeat;
    background-size: 120px 120px;
    border: 4px solid darken(@icon-light-grey,10%);
    border-radius: 120px;
    &.valid { animation: beat 1s infinite; }
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


@keyframes beat {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
}
