// STATUSBAR
//==========
.status-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:120px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
  overflow-x: auto;
  overflow-y: visible;
  .element + .element {
    margin-left: 30px;
  }
  .object {
    // object custom styling
  }
}
