.status-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:120px;
  .elements {
    height:120px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 30px;
    overflow-x: auto;
    overflow-y: visible;
  }
  .element + .element {
    margin-left: 30px;
  }
  .object {
    // object custom styling

    &.lamp {
      border: 3px solid darken(@icon-orange,10%);
    }
    &.deur {
      border: 3px solid darken(@icon-blue,10%);
    }
    &.bericht {
      border: 3px solid darken(@icon-yellow,10%);
    }
    &.tijd {
      border: 3px solid darken(@icon-teal,10%);
    }
    &.muziek {
      border: 3px solid darken(@icon-aqua,10%);
    }
    &.kat {
      border: 3px solid darken(@icon-grey,10%);
    }
    &.weer {
      border: 3px solid darken(@icon-red,10%);
    }


    .icon {
      white-space: nowrap;
    }
  }
}
