.viewer {
  color: white;
  background: black url(../img/bg-digibord.png) 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;

.content {
  font-family: "Lato", sans-serif;
  position: relative;
  height: 80%;
  width: 80%;
  min-height: 600px;
  min-width: 850px;
  max-width: 1200px;background: #333;
  background: linear-gradient(135deg, transparent 60px, @background-mainboard 0);
  border: 5px solid @border-orange;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-width: 0 5px 5px 0;
  &:before {
    content: '';
    width: ~"calc(100% - 77px)";
    height: 5px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: @border-orange;
  }
  &:after {
    content: '';
    height: ~"calc(100% - 73px)";
    width: 20px;
    position: absolute;
    background-color: transparent;
    bottom: -5px;
    left: 0;
    border: 5px solid @border-orange;
    border-width: 0 0 5px 5px;
    border-bottom-left-radius: 10px;
  }
  .diagonal-thingy {
    width: 5px;
    height: 109px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg) translate(17px, -36px);
    background-color: @border-orange;
  }
}

.header-init {
  position: absolute;
  background: transparent url(../svg/background-init.svg) 0 0 no-repeat;
  background-size: 100% 100%;
  padding: 10px 20px;
  margin: 16px 0 16px -50px;
  text-align: right;
  min-width: 400px;
}

.chat {
  width: ~"calc(100% - 400px)";
  max-height: ~"calc(100% - 120px)";
  overflow-y: auto;
  margin: 100px 0 0 20px;
  //background: rgba(0,0,0,0.1);
  color: #00f;
}

.station {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 320px;
  height: 100px;
  background: transparent url(../svg/background-station.svg) 0 0 no-repeat;
  background-size: 100% 100%;
  h3 {
    height: 100%;
    margin: 0;
    padding: 10px 20px 20px 110px;
    background: transparent url(../svg/radio-station.svg) 20px 50% no-repeat;
    color: rgb(80,80,80);
    font-size:28px;
    background-size: 80px;
    small {
      font-size: 20px;
      display: block;
      color: rgb(120,120,120);
    }
  }
}
  .message {
    position: absolute;
    background: rgba(118,208,59,1);
    border: 4px solid black;
    border-radius: 10px;
    width: auto;
    line-height: 1.5;
    white-space: normal;
    padding: 20px;
    color: black;
    font-size: 24px;
    min-width: 60px;
    max-width: 50%;
    min-height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:before {
      display: block;
      position: absolute;
      z-index: 1;
      content: '';
      width: 0;
      height: 0;
      border-top: 12px solid rgba(118,208,59,1);
      border-right: 12px solid transparent;
      bottom: -12px;
      left: 20px;
    }

    &:after {
      display: block;
      position: absolute;
      z-index: 0;
      content: '';
      width: 0;
      height: 0;
      border-top: 22px solid rgba(0,0,0,1);
      border-right: 22px solid transparent;
      bottom: -22px;
      left: 16px;
    }

    p {
      min-width: 240px;
    }
  }

  .text {
    padding: 20px;
  }

  .lights {
    .container {
      position: absolute;

      .light {

      }

      .beam {

      }

      &:nth-child(10n+1), &:nth-child(10n+5) {
        left: 0;
      }

      &:nth-child( 1) { top: 20%; transform: rotate(20deg); }
      &:nth-child( 5) { top: 80%; transform: rotate(-35deg); }
      &:nth-child(11) { top: 40%; transform: rotate(-5deg); }
      &:nth-child(15) { top: 60%; transform: rotate(-20deg); }
      &:nth-child(21) { top: 30%; transform: rotate(10deg); }
      &:nth-child(25) { top: 70%; transform: rotate(-30deg); }
      &:nth-child(31) { top: 50%; transform: rotate(2deg); }
      &:nth-child(35) { top: 10%; transform: rotate(30deg); }
      &:nth-child(41) { top: 90%; transform: rotate(-50deg); }
      &:nth-child(45) { top:  0%; transform: rotate(50deg); }

      &:nth-child(10n+2), &:nth-child(10n+6), &:nth-child(10n+9) {
        top: 0;
      }
      &:nth-child( 2) { left: 79%; transform: rotate(300deg); }
      &:nth-child( 6) { left: 21%; transform: rotate(55deg); }
      &:nth-child( 9) { left: 65%; transform: rotate(290deg); }
      &:nth-child(12) { left: 35%; transform: rotate(35deg); }
      &:nth-child(16) { left: 93%; transform: rotate(320deg); }
      &:nth-child(19) { left:  7%; transform: rotate(65deg); }
      &:nth-child(22) { left: 50%; transform: rotate(280deg); }
      &:nth-child(26) { left: 100%; transform: rotate(310deg); }
      &:nth-child(29) { left: 28%; transform: rotate(50deg); }
      &:nth-child(32) { left: 72%; transform: rotate(295deg); }
      &:nth-child(36) { left: 42%; transform: rotate(60deg); }
      &:nth-child(39) { left: 58%; transform: rotate(265deg); }
      &:nth-child(42) { left: 14%; transform: rotate(45deg); }
      &:nth-child(46) { left: 86%; transform: rotate(275deg); }

      &:nth-child(10n+3), &:nth-child(10n+7) {
        right: 0
      }
      &:nth-child( 3) { bottom: 20%; transform: rotate(20deg); }
      &:nth-child( 7) { bottom: 80%; transform: rotate(-35deg); }
      &:nth-child(13) { bottom: 40%; transform: rotate(-5deg); }
      &:nth-child(17) { bottom: 60%; transform: rotate(-20deg); }
      &:nth-child(23) { bottom: 30%; transform: rotate(10deg); }
      &:nth-child(27) { bottom: 70%; transform: rotate(-30deg); }
      &:nth-child(33) { bottom: 50%; transform: rotate(2deg); }
      &:nth-child(37) { bottom: 10%; transform: rotate(30deg); }
      &:nth-child(43) { bottom: 90%; transform: rotate(-50deg); }
      &:nth-child(47) { bottom:  0%; transform: rotate(50deg); }

      &:nth-child(10n+4), &:nth-child(10n+8), &:nth-child(10n+10) {
        bottom: 0;
      }
      &:nth-child( 4) { right: 79%; transform: rotate(300deg); }
      &:nth-child( 8) { right: 21%; transform: rotate(55deg); }
      &:nth-child(10) { right: 65%; transform: rotate(290deg); }
      &:nth-child(14) { right: 35%; transform: rotate(35deg); }
      &:nth-child(18) { right: 93%; transform: rotate(320deg); }
      &:nth-child(20) { right:  7%; transform: rotate(65deg); }
      &:nth-child(24) { right: 50%; transform: rotate(280deg); }
      &:nth-child(28) { right: 100%; transform: rotate(310deg); }
      &:nth-child(30) { right: 28%; transform: rotate(50deg); }
      &:nth-child(34) { right: 72%; transform: rotate(295deg); }
      &:nth-child(38) { right: 42%; transform: rotate(60deg); }
      &:nth-child(40) { right: 58%; transform: rotate(265deg); }
      &:nth-child(44) { right: 14%; transform: rotate(45deg); }
      &:nth-child(48) { right: 86%; transform: rotate(275deg); }
    }


  }
}
